.standalone-code
    position relative
    display block
    color var(--code-content)
    font-size 18px
    font-family SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace
    font-weight 400
    margin 0
    padding 20px
    border-radius 8px
    background-color var(--code)
    overflow-x auto
    overflow-y hidden

    &.-highlighted 
        & + .standalone-code
            display none

    & > .token-line
        white-space pre

        &:last-child
            display none

.icon.standalone-copy
    position absolute
    z-index 2
    right 4px
    margin 4px 0 0 0
    width 36px
    height 36px
    padding 8px
    cursor pointer
    border-radius 4px
    fill var(--content)
    transition fill .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out

    &:hover,
    &:focus
        fill var(--primary)
        background-color var(--primary-overlay)

    &:active
        box-shadow 0 0 0 2px var(--primary)

    @media screen and (max-width 767.9px)
        &
            right calc(5% + 4px)