.standalone-blockquote
    position relative
    display block
    width 100%
    color var(--primary)
    font-size 36px
    font-weight 700
    line-height 1.75em
    margin 40px 0
    padding 20px

    & > .author
        display block
        color var(--content)
        font-size 24px
        font-weight 400