#editor
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    width 660px
    margin 0 auto
    animation editor-in .2s ease-out 0s 1

    & > .profile
        display flex
        flex-direction column
        justify-content flex-start
        align-items center
        width 100%
        margin 40px auto 0 auto

        & > .name
            color var(--title)
            font-size 36px
            margin 0 0 4px 0
            text-align center

        & > .bio
            color var(--content)
            font-weight 400
            font-size 18px
            margin 0 0 16px 0

    & > .written
        font-size 18px
        color var(--content)
        font-weight 400
        margin 28px 0 8px 0

    & > .content
        display grid
        justify-content center
        grid-template-columns repeat(2, 50%)
        grid-gap 20px
        width 100%
        padding 20px 10px 40px 10px

    @media screen and (max-width 767.9px)
        &
            width 100%
            padding 0 5%

    @media screen and (max-width 567.9px)
        &
            & > .content
                grid-template-columns repeat(1, 100%)
                grid-gap 40px

@keyframes editor-in
    from
        opacity 0
        transform translateY(28px)