#tags
    display block
    width 100%
    margin 16px 0

    & > .tag
        display inline-block
        font-size 16px
        color var(--content)
        font-weight 400
        margin 4px 4px 0 4px
        padding 8px
        background-color var(--preload)
        border-radius 4px
        cursor default